/*
selector{
    atributo:valor;
    atributo:valor;
    atributo:valor;
    ... colores.jocarsa.com
}
*/
h1{
    color:red;
}
h2{
    color:blue;
}
/*<link rel=""stylesheet" href="Mi Pagina Web.css">*/